<center><font face="Georgia, Times New Roman, Times, serif" size="5"><b>
	<a href="{blog_source_url}/blog/{blog_name}" target="_blank">{blog_display_name}: {blog_title}</a></b></font></center>
<center><font face="Georgia, Times New Roman, Times, serif" size="2"><b>
	{blog_formatted_post_timestamp}</b></font></center><BR />
<div class="blogPost">
	{blog_content}
	<br />
	<div class="byline">
		Posted by <b>{blog_formatted_author_name}</b> @ {blog_formatted_post_timestamp_time}
		[<a href="{blog_source_url}{blog_full_permalink}">permalink</a>]
<!-- {blog_source_url}/{blog_full_permalink} -->
	</div>
</div> 
<hr class="blogSeparator">