<!-- BEGIN content/contact_content.tmpl -->
      <h1 align="center"><u>Contacting Us</u></h1>
        <br>
        To contact this site's webmaster, send an e-mail to: 
	<a href="?emailLink=webmaster" onClick="invalidEmailLink('webmaster')">webmaster - at - crazedsanity - dot - com</a> 
        <br>
        For questions regarding this site, services offered, or information contained 
        therein, send an email to: 
	<a href="?emailLink=help" onClick="void(invalidEmailLink('help'))">help - at - crazedsanity - dot - com</a>.<BR>

	<p><b>IMPORTANT NOTE:</b>
	The email addresses listed on this page have been <i>purposely</i> malformed to
	help curb the spam problem at the affected email addresses.  If you're not a spambot,
	I'm sure you can figure out what the real addresses are... if not, well... guess you'll
	have to work more on using the "common sense" module for your brain.  :)
<!-- END content/contact_content.tmpl -->
