<!-- BEGIN content/links_content.tmpl -->
          <h1 align="center"><u>Links</u></h1>
	  <h5 align="center">Note: links will open in a new window.</h5>

        <center>
          <h3><a href="javascript:void(0);">Your Website Could Be Here!</a> (http://YourWebsiteHere)
            <br>
            <font size="2">
	    &lt; Advertisement &gt;
	    To get your website listed on this page, please send <br>
	    an email to <a href='?emailLink=website-advertising' onClick="invalidEmailLink('website-advertising')">website-advertising -at- crazedsanity.com</a>!
	    <u>NOTE:</u> the email address is PURPOSELY non-useable as it is; just replace 
	    the " -at- " part with the "@" symbol; I did it to curb the SPAM problem.
	    </font></h3>


          <h3><a href="http://www.gerbilmechs.com">GerbilMechs</a> (http://www.gerbilmechs.com)
	    <font size="2">&lt; Comic Website &gt; A very enthralling online comic.  And don't forget Monty & Morgion!</font></h3>
        </center>
<!-- END content/links_content.tmpl -->
