<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ menu -->
<div  style="padding-right:10px;">
<table cols=10 cellspacing=0 cellpadding=2 border=0 align="left" width="100">
  <a href="http://www.crazedsanity.com"></a>
  <tr> 
    <td nowrap align="center">{lsel_content}<a href="/">Main Page</a>{rsel_content}</td>
  </tr>
  <tr> 
    <td nowrap align="center">{lsel_gallery}<a href="/content/gallery">Gallery</a>{rsel_gallery}</td>
  </tr>
  <tr> 
    <td nowrap align="center">{lsel_links}<a href="/content/links">Links</a>{rsel_links}</td>
  </tr>
  <tr> 
    <td nowrap align="center">{lsel_contact}<a href="/content/contact">Contact Us!</a>{rsel_contact}</td>
  </tr>
</table>
</div>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ /menu -->
